@font-face {
  font-family: "iconfont"; /* Project id 3234442 */
  src: url('iconfont.woff2?t=1649235642964') format('woff2'),
       url('iconfont.woff?t=1649235642964') format('woff'),
       url('iconfont.ttf?t=1649235642964') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanze:before {
  content: "\e619";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e608";
}

.icon-cangpeitubiao_xiugaixiugaiziliao:before {
  content: "\e625";
}

.icon-shangjialiebiao:before {
  content: "\e6b1";
}

.icon-yinpin:before {
  content: "\e61c";
}

.icon-shuiguoshengxian:before {
  content: "\fd31";
}

.icon-a-cakeshengridangaodangaomeishi:before {
  content: "\e6f3";
}

.icon-a-epslochushimaochushipengren:before {
  content: "\e6f4";
}

.icon-a-storeshopshangdianchaoshixiaomaibu:before {
  content: "\e6fb";
}

.icon-fengniaopaotui:before {
  content: "\e6c0";
}

.icon-remen:before {
  content: "\e6a6";
}

.icon-dingwei:before {
  content: "\e694";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-cangpeitubiao_paixuzhandianpaixu:before {
  content: "\e613";
}

.icon-shizhong:before {
  content: "\e652";
}

.icon-jinbi:before {
  content: "\e62e";
}

.icon-hanbao:before {
  content: "\e753";
}

.icon-xiaochi:before {
  content: "\e601";
}

.icon-baihuochaoshi:before {
  content: "\fd6b";
}

.icon-gouwuchexuanzhong:before {
  content: "\e600";
}

.icon-star:before {
  content: "\e61a";
}

